@import '~c3/c3.css';

.c3-axis-y path, .c3-axis-y line, .c3-axis-x line {
    display: none;
}

.c3-axis-x path {
    stroke: #eee
}

.c3-axis-x .tick text {
    font-size: 14px;
}

.c3-ygrid-lines g {
    stroke-dasharray: none
}

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: none;
}

.c3-grid line {
    stroke: #eee;
}

.c3-text {
    fill: #333 !important;
    font-size: 1.4em;
    font-weight: bold;
    filter: url(#rounded-corners) drop-shadow(0 5px 3px rgba(0, 0, 0, .3));
    transform: translate(0, -22px);
}

.labelRectangle {
    fill: #fff; 
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .2))
}

.median {
    stroke-dasharray: 5 !important;
    stroke: #000 !important;
}


.tooltip {
    padding: 0.5em;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.tooltip .tooltipName {
    font-weight: bold;
}

.c3-xgrid-focus { display: none }

.c3-bar._selected_:not(.c3-bar-0) {
    fill: #adadad !important
}