.axis {
    font: 16px sans-serif;
}

.axis path,
.axis .tick line, 
.grid path {

    display: none
}

.grid .tick {
    opacity: 0.1
}


.rect.focus  {
    fill: rgba(0,0,0,0.5)
}

.label.focus {
    opacity: 1
}


.labelBackground.focus  {
    opacity: 1;
    filter:url(#shadow);

}


