@import '~c3/c3.css';

.c3-axis-y path, .c3-axis-y line {
    display: none;
}

.c3-axis-x path, .c3-axis-x line {
    display: none;
}

.c3-ygrid-lines g {
    stroke-dasharray: none
}

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: none;
}

.c3-grid line {
    stroke: #eee;
}

.c3-tooltip {
    transform: translateX(-100%);
    border-radius: 5px;
    opacity: 1
}

.c3-tooltip tr {
    border: none;
}

.c3-tooltip th {
    display: none !important;
}

.c3-tooltip td {
    border-left: none;
    font-size: 1em;
    border-radius: 5px;
}

.c3-tooltip td.name {
    display: none !important;
}


